<center>

<% if session[:user_id] %>
    <%= link_to "Log Out", logout_path %>

    <section class='existing-users'>
        <p>Existing Users: </p>
        <% @users.each do |user| %>
            <ul>
                <li><%= "#{user.email}" %></li>
            </ul>
        <% end %>
    </section>

<% else %>
    <%= button_to "Create New User", register_path, method: :get %>
    <%= link_to "Log In", login_path %>
<% end %>
</center>